.notes/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# NMT Models & Data
*.pt
*.model
*.vocab
data/train_data/run/
data/processed/malicious_raw.tsv # 원본 데이터는 이미 있으므로 제외 선택 가능 (사용자 판단)
